n8n/flowscore-workflow.json
{
  "name": "FlowScore Assessment",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "flowscore",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "webhook-trigger",
      "name": "Webhook FlowScore",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "flowscore"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Token": "={{ $json.token }}",
            "Timestamp": "={{ $now.format('yyyy-MM-dd HH:mm:ss') }}",
            "Financial Impact": "={{ $json.scores.financial_impact }}",
            "Time Waste": "={{ $json.scores.time_waste }}",
            "Risk Control": "={{ $json.scores.risk_control }}",
            "Digital Maturity": "={{ $json.scores.digital_maturity }}",
            "Automatable Score": "={{ $json.scores.automatable_score }}",
            "Recommendation": "={{ $json.recommendation }}",
            "Priorities": "={{ $json.priorities.join(', ') }}",
            "Answers JSON": "={{ JSON.stringify($json.answers) }}"
          }
        },
        "options": {}
      },
      "id": "google-sheets",
      "name": "Save to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [500, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "",
          "name": ""
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\"success\": true, \"message\": \"Assessment saved\", \"token\": $json.token} }}"
      },
      "id": "response",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [750, 300]
    }
  ],
  "connections": {
    "Webhook FlowScore": {
      "main": [
        [
          {
            "node": "Save to Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to Google Sheets": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0
}
