n8n/flowscore-workflow-local.json
{
  "name": "FlowScore Assessment (Local Storage)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "flowscore",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook FlowScore",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "/home/node/.n8n/flowscore_responses.json",
        "options": {
          "append": true
        }
      },
      "id": "write-file",
      "name": "Save to JSON File",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [500, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\"success\": true, \"message\": \"Assessment saved\", \"token\": $json.token} }}"
      },
      "id": "response",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [750, 300]
    }
  ],
  "connections": {
    "Webhook FlowScore": {
      "main": [
        [
          {
            "node": "Save to JSON File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to JSON File": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
